/* Variables */

:root {
    --basic-black:  #000000;
    --basic-gray:   #283136;
    --basic-white:  #FFFFFF;
    
    --button-pink:       #FB565A;
    --button-pink-hover: #E74246;
    --button-pink-click: #D7373B;

    --button-green:       #00CA74;
    --button-green-hover: #00BC6C;
    --button-green-click: #00AA62;

    --button-yellow:       #EFC849;
    --button-yellow-hover: #EAB534; 
    --button-yellow-click: #E5A722;

    --special-gray: #EEEEEE;

    --special-contacts-color-gray: #666666;

    --special-gray-icons:   #E1E1E1;
    --special-footer-color: #444444;

    --social-icons-state-color: linear-gradient(0deg, var(--special-gray-icons), var(--special-gray-icons)), var(--basic-white);
    --social-icons-hover-color: linear-gradient(0deg, var(--button-pink-hover), var(--button-pink-hover)), var(--basic-white);
    --social-icons-click-color: linear-gradient(0deg, var(--button-pink-click), var(--button-pink-click)), var(--basic-white);;
}


/* Global */

.page-body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    color: var(--basic-black);
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

.button {
    margin-top: 32px;
    text-transform: uppercase;
    width: 160px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--basic-white);
}

/* Navigation */

.main-header {
    width: 1440px;
}
 
.main-header-logo {
    margin-right: 200px;
}

.main-header, .slider-container {
    background-color: var(--special-gray);
}

.site-navigation {
    min-width: 440px;
    min-height: 30px;
    margin-right: 205px;
    list-style: none;
    display: flex;
    padding: 0;
    margin-left: 2px;
}

.navigation-item {
    margin-top: 13px;
    padding-right: 46px;
}

.main-navigation {
    display: flex;
    margin-left: 120px;
    margin-top: 40px;
}

.main-navigation a {
    color: var(--basic-black);
}

.main-navigation a:hover {
    color: var(--hover-pink);
}

.main-navigation a:active {
    color: var(--basic-black);
    opacity: .3;
}

.user-navigation {
    min-width: 110px;
    margin-top: 29px;
    display: flex;
    justify-content: space-between;
}

.user-navigation img {
    position: relative;
    top: 4px;
    right: 5px;
}

/* SLIDER */

.text-for-slider {
    margin-top: 71px;
    margin-left: 16px;
}

.text-for-slider p {
    font-size: 55px;
    line-height: 55px;
    margin: 0;
}

.slider-container {
    display: flex;
    justify-content: center;
}

.more-info-link {
    background-color: var(--button-pink);
    width: 240px;
    height: 50px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 37px;
}

.more-info-link a {
    color: var(--basic-white);
    font-weight: 500;
    font-style: normal;
}

.container-button {
    min-height: 20px;
    margin-top: 27px;
}

.container-button p {
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-gray);
}

.more-info-link:hover {
    background-color: var(--button-pink-hover);
}

.more-info-link:active {
    background-color: var(--button-pink-click);
}

.slider-button {
    width: 92px;
    height: 20px;
    position: relative;
    left: 116px;
    top: -141px;
    display: flex;
    justify-content: space-between;
}
.gallery-btn {
    transform: scale(1.5);
}

.gallery-content img {
    position: relative;
    left: -18px;
    top: -23px
}

/* List of links */

.links {
    min-width: 1200px;
    margin-top: -2px;
    margin-left: 80px;
}

.links-list {
    list-style: none;
    display: flex;
    gap: 100px;
}

.links-item h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 9px;
}

.links-item p {
    /* margin-top: 1px; */
    font-weight: 400;
    color: var(--basic-gray);
}

/* styles button links */

/* pink */

.web-sites-button {
    background-color: var(--button-pink);
}

.web-sites-button:hover {
    background-color: var(--button-pink-hover);
}
.web-sites-button:active {
    background-color: var(--button-pink-click);
    opacity: .3;
}

/* green */

.app-button {
    background-color: var(--button-green);
}
.app-button:hover {
    background-color: var(--button-green-hover);
}
.app-button:active {
    background-color: var(--button-green-click);
    opacity: .3;
}

/* yellow */

.presentation-button {
    background-color: var(--button-yellow);
}
.presentation-button:hover {
    background-color: var(--button-yellow-hover);
}
.presentation-button:active {
    background-color: var(--button-yellow-click);
    opacity: .3;
}

/* Features Nerds */

.information-container {
    display: flex;
    justify-content: space-around;
    margin-top: 154px;
}

.features h1 {
    color: var(--basic-black);
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
}

.features p {
    color: var(--basic-gray);
}

.features h4 {
    font-weight: 700;
    color: var(--basic-gray);
}

.features-list {
    color: var(--basic-gray)
}

/* Statistics for complany Nerds */



.statistics h4 {
    font-weight: 700;
    /* text-align: center; */
}

.stat-list {
    list-style: none;
    display: flex;
    gap: 30px;
}

.stat-item h1 {
    font-size: 45px;
    line-height: 64px;
    font-weight: 700;
}

.stat-item sup {
    font-size: 26px;
    line-height: 40px;
    font-weight: 700;
}

.stat-item p {
    color: var(--basic-gray);
}

/* partners */

.partners {
    margin-top: 60px;
}

.partners-list {
    list-style: none;
    display: flex;
    /* justify-content: flex-start; */
    gap: 100px;
    margin-left: 90px;
}

.partners-item {
    opacity: .2;
}

.partners-item:hover {
    opacity: 1;
}
.partners-item:active {
    opacity: .1;
}

/* FOOTER */

    /* contacts */

    .footer-contacts h4 {
        font-size: 18px;
        line-height: 30px;
        font-weight: 700;
    }

    .contacts-address,
    .contacts-phone {
        color: var(--special-contacts-color-gray);
        line-height: 16px;
    }

    .contacts-phone a {
        color: var(--special-contacts-color-gray);
    }

.contacts-button:hover {
    background-color: var(--button-pink-hover);
}

.contacts-button:active {
    background-color: var(--button-pink-click);
    opacity: .3;
}

/* social-links / icons */

.main-footer {
    min-width: inherit;
    min-height: inherit;
}


.footer-social {
    display: flex;
    justify-content: space-between;
}

.social-list {
    list-style: none;
    display: flex;
}

.social-item {
    background: var(--social-icons-state-color);
    border-radius: 50%;
    min-width: 81px;
    min-height: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-item:hover {
    background: var(--social-icons-hover-color);
}

.social-item:active {
    background: var(--social-icons-click-color);
    opacity: .9;
}

/* additional info for nerds */
.additional-information {
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: var(--special-footer-color)
} 

.additional-information h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 36px;
    color: var(--basic-black);
}
